.chess-cell {
    user-select: none;
    width: 90px; /*takes into account border*/
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Add a pointer cursor for better UX */
    border: 5px solid transparent; /* Initial border style */
}

.light-cell {
    background-color: #eee;
}

.dark-cell {
    background-color: #c5ac75;
}

.selected {
    border-color: red; /* Adjust the border color as needed */
}
.icon-container {
    user-select: none;
    position: relative;
    width: 100px;
    height: 100px;
}

.overlay-target {
    user-select: none;
    position: absolute;
    width: 100px;
    height: 100px;
}
